---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
console.log(posts);
---

<BaseLayout title="blog home" description="blog home">
  <style>
    ul {
      display: flex;
      flex-wrap: wrap; /* ← 关键：允许换行 */
    }
    ul li {
      /* width: calc(50% - 1rem); */
      width: 50%;
    }
    ul li:first-child {
      /* width: calc(50% - 1rem); */
      width: 100%;
    }
    @media (max-width: 720px) {
      ul li {
        width: 100%;
      }
    }
  </style>
  <div>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.id}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <style>
    a {
      text-decoration: none;
      color: inherit; /* 继承父元素文字颜色，看起来像普通文本 */
    }
    a:hover {
      color: #0066cc; /* 鼠标悬停变蓝色 */
      /* 或者 text-decoration: underline; 如果需要 hover 也出现下划线 */
    }
  </style>
</BaseLayout>
