---
import ExternalLink from "./ExternalLink.astro";
import GithubIcon from "../assets/github.svg";
---

<footer>
  © 2026 Farna here. All rights reserved.
  <ul>
    <li>
      <ExternalLink href="https://github.com/FarnaHerry/FarnaHerry.github.io">
        <GithubIcon width="32px" height="32px" />
      </ExternalLink>
    </li>
  </ul>
</footer>
<style>
  footer {
    color: gray;
    background: #fafafa;
    text-align: center;
  }
  ul {
    list-style-type: none;
  }
</style>
