---
import GithubIcon from "../assets/github.svg";
import InternalLink from "./InternalLink.astro";
import HeaderLink from "./HeaderLink.astro";
import ExternalLink from "./ExternalLink.astro";
---

<header>
  <nav>
    <div class="home">
      <h2>
        <InternalLink href="/"> home </InternalLink>
      </h2>
    </div>
    <div class="internal-links">
      <ul>
        <li><HeaderLink href="/">home</HeaderLink></li>
        <li><HeaderLink href="/blog">blog</HeaderLink></li>
        <li><HeaderLink href="/about">about</HeaderLink></li>
      </ul>
    </div>
    <div class="social-links">
      <ul>
        <li>
          <ExternalLink
            href="https://github.com/FarnaHerry/FarnaHerry.github.io"
          >
            <GithubIcon width="32" height="32" />
          </ExternalLink>
        </li>
      </ul>
    </div>
  </nav>
</header>
<style>
  .internal-links {
    padding: 0;
    margin: 0;
  }
  .internal-links ul {
    padding: 0;
    margin: 0;
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  /* 基础阴影：右下方向 */
  header {
    /* 内边距 */
    padding: 1rem 0.5rem;
    /* position: sticky; */
    /* top: 0; */
    /* z-index: 100; */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
    box-shadow: var(--shadow);
  }
  nav {
    display: flex;
    /* 主轴布局 */
    justify-content: space-between;
    /* 交叉轴布局 */
    align-items: center;
    /* justify-content: center; */
    gap: 1.5em;
  }
</style>
