---
import GithubIcon from "../assets/github.svg";
import InternalLink from "./InternalLink.astro";
import ExternalLink from "./ExternalLink.astro";
---

<header>
  <nav>
    <div class="home">
      <InternalLink href="/">home</InternalLink>
    </div>
    <div class="internal-links">
      <ul>
        <li><InternalLink href="/">home</InternalLink></li>
        <li><InternalLink href="/blog">blog</InternalLink></li>
        <li><InternalLink href="/about">about</InternalLink></li>
      </ul>
    </div>
    <div class="social-links">
      <ul>
        <li>
          <ExternalLink
            href="https://github.com/FarnaHerry/FarnaHerry.github.io"
          >
            <GithubIcon width="32px" height="32px" />
          </ExternalLink>
        </li>
      </ul>
    </div>
  </nav>
</header>
<style>
  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  /* 基础阴影：右下方向 */
  header {
    /* position: sticky; */
    top: 0;
    z-index: 100;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  nav {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    gap: 1.5em;
  }
</style>
